html{
    scroll-behavior: smooth;
}
.jumbotron {
    min-height: 600px;
    background-image: url("../assets/svg/header.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 !important;
    width: 100%;
    background-position: top center;
}

.body {
    padding-top: 100px;
}
.fade-in {
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lead{
    color: white;
}

@import "node_modules/bootstrap/scss/bootstrap";
